html,body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1100px;
}
* {
  box-sizing: border-box;
  font-family: 'Microsoft YaHei',Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}
li {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}